body {
  font: 20px Raleway, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#welcome {
  height: 90vh;
  width: 100%;
}

#welcome-container {
  background-color: rgb(58, 56, 56, 0.7);
  width: 700px;
  height: 100%;
}

.container-fluid i {
  font-size: 50px;
  padding-bottom: 20px;
}

.icon i {
  font-size: 40px;
  padding-bottom: 20px;
  align-self: flex-end;
}

.container-fluid h1 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  font-weight: bold;
}

.row .item {
  text-align: center;
  margin: 30px;
  padding: 30px;
  background: white;
  color: #3a3838;
  border-radius: 5px;
  height: 420px;
  max-width: 300px;
}

.title {
  font-size: 70px;
}

main {
  background-color: white;
}
h1 {
  margin: 10px;
}

a {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
  background-color: gray;
  text-decoration: none;
  padding: 8px;
  border-radius: 10px;
}

#about {
  background-color: #378ebf !important;
  color: white !important;
}

#coaches {
  padding-top: 100px;
  padding-bottom: 100px;
}

#gallery {
  padding: 100px;
}

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 20%;
  max-height: 400px;
  overflow: scroll;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 25px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #0275d8;
  color: white;
  border-radius: 10px;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #0275d8;
  color: white;
  border-radius: 10px;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 80%;
  border-left: none;
  overflow: scroll;
}

/* this is the animation code for typewriter animation  */

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous + Pro);

.line-1 {
  position: relative;
  top: 50%;
  /* width: 40em; */
  margin: 0 auto;
  /* border-right: 2px solid rgba(255, 255, 255, 0.75); */
  font-size: 140%;
  text-align: center;
  max-width: 750px;
  /* white-space: nowrap; */
  overflow: hidden;
  /* transform: translateY(-50%); */
}

/* Animation */
/* .anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
} */

/*Coaches Gallery Animation*/
.arrow-icon {
  animation: sld-left 2s infinite;
  color: #378ebf;
}

@keyframes sld-left {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50%,
  65% {
    transform: translateX(-30px);
  }
}
/*End Coaches Gallery animation

/* additional styling for gallery */
.gallery-info {
  padding-bottom: 50px;
  height: 400px;
  text-align: left;
}

.gallery-info-desc {
  height: 400px;
  overflow-y: scroll;
  /* padding-left: 0; */
  /* padding-left: 30px; */
  /* margin-right: 0px;
  padding-right: 30px;
  padding-left: 0px; */
}
.gallery-img-col {
  padding-right: 0;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
