body {
    font: 20px Montserrat, sans-serif;
}

#map {
    margin-top: 20px;
}

main {
    background-color: white;
}

a{
    color: black;
    text-decoration: none;
}

.nav-link:hover{
    color: white;
    background-color: gray;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
}

#welcome {
    padding-top: 10px;
}

#coaches, #gallery, #feedback {
    padding-top: 100px;
}
